#profile_title {
  position: relative;
  right: 1.3em;
}
#admin_name {
  position: relative;
  left: 11em;
  top: 3em;
  font-size: 16pt;
}
#admin_email {
  position: relative;
  left: 31em;
  bottom: 0.8em;
  font-size: 16pt;
}
#admin_user_type {
  position: relative;
  left: 55em;
  bottom: 4.6em;
  font-size: 16pt;
}
#admin_update_profile {
  background-color: #006400;
  border: none;
  font-weight: bolder;
  font-size: 16pt;
}
#search_user_form {
  position: relative;
  top: 2em;
  left: 5em;
}
#search_property_form {
  position: relative;
  top: 2em;
  left: 5em;
}
#manage_user_reports {
  position: relative;
  left: 53em;
  bottom: 4em;
  border: none;
  background-color: #006400;
}
#admin_log_out {
  position: relative;
  bottom: 3px;
}
#search_1 {
  background-color: #006400;
  border: none;
}
#search_2 {
  background-color: #006400;
  border: none;
}
